@{
    ViewData["Title"] = "Historique des commandes";
}
@inject ILogin _login

<h1>Historique des commandes</h1>

<br />

<div class="container">
    <table class="table">
        <thead>
            <tr>
                <th scope="col">Numéro de commande</th>
                <th scope="col">Date de la commande</th>
                <th scope="col">Prix Total</th>
                <th scope="col"></th>
            </tr>
        </thead>
        <tbody>
            @foreach (Order o in ViewBag.Orders)
            {
                <tr>
                    <td>@o.Id</td>
                    <td>@o.Date</td>
                    <td>@o.Total €</td>
                    <td><a class="nav-link text-dark" asp-area="" asp-controller="Order" asp-action="ShowOrder" asp-route-id="@o.Id"><i class="fas fa-eye"></i></a></td>
                </tr>
            }
        </tbody>

    </table>

</div>