@{
    ViewData["Title"] = "Home Page";
}

@{
}
@model List<Product>
<h1>Liste des Produits</h1>

<div class="container">
    <table class="table">
        <thead>
            <tr>
                <th scope="col">Photo</th>
                <th scope="col">Nom du produit</th>
                <th scope="col">Prix</th>
                <th scope="col"></th>
            </tr>
        </thead>
        <tbody>
            @foreach (Product p in Model)
            {
                <tr>
                    <td><img class="" height="200" src="@p.Url_photo"></td>
                    <td>@p.Name</td>
                    <td>@p.Unit_price €</td>
                    <td><a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="ShowProduct" asp-route-id="@p.Id"><i class="fas fa-eye"></i></a></td>
                </tr>
            }
        </tbody>

    </table>

</div>
