<h1>Modification de maison</h1>

<form asp-controller="Admin" asp-action="SubmitEditFormHome" method="post">
    <div>
        <input class="form-control" type="text" name="id" hidden placeholder="id" value="@ViewBag.Home.Id_Home" />
    </div>
    <div class="row">
        <div class="col-4">
            <label class="" for="name">Nom de la maison</label>
            <input class="form-control" id="name" type="text" name="name" placeholder="Nom" value="@ViewBag.Home.Name" />
        </div>
    </div>
    <br />
    <div class="row justify-content-center">
        <div class="col-6">
            <button type="submit" class="btn btn-primary btn-block">Enregistrer</button>
        </div>
    </div>
</form>