<h1>Modification d'un fournisseur</h1>

<form asp-controller="Admin" asp-action="SubmitEditFormProvider" method="post">
    <div>
        <input class="form-control" type="text" name="id" hidden placeholder="id" value="@ViewBag.Provider.Id" />
    </div>
    <div class="row">
        <div class="col-4">
            <label class="" for="name">Nom du fournisseur</label>
            <input class="form-control" id="name" type="text" name="name" placeholder="Nom" value="@ViewBag.Provider.Name" />
        </div>
        <div class="col-4">
            <label class="" for="adress">Adresse du fournisseur</label>
            <input class="form-control" id="adress" type="text" name="adress" placeholder="Adresse" value="@ViewBag.Provider.Adress" />
        </div>
        <div class="col-4">
            <label class="" for="adress">Mail du fournisseur</label>
            <input class="form-control" id="mail" type="text" name="mail" placeholder="Mail" value="@ViewBag.Provider.Mail" />
        </div>
    </div>
    <br />
    <div class="row justify-content-center">
        <div class="col-6">
            <button type="submit" class="btn btn-primary btn-block">Enregistrer</button>
        </div>
    </div>
</form>